*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial,Helvetica,sans-serif;

    background:#f5f7fa;

    color:#333;

    line-height:1.7;

}

.container{

    width:90%;

    max-width:1000px;

    margin:auto;

}

header{

    background:#0f172a;

    color:white;

    padding:20px 0;

}

header .container{

    display:flex;

    justify-content:space-between;

    align-items:center;

}

nav a{

    color:white;

    margin-left:25px;

    text-decoration:none;

}

.hero{

    padding:100px 0;

    text-align:center;

    background:white;

}

.hero h2{

    font-size:40px;

    margin-bottom:15px;

}

section{

    padding:60px 0;

}

.card{

    background:white;

    padding:25px;

    margin-top:20px;

    border-radius:10px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}

footer{

    background:#0f172a;

    color:white;

    text-align:center;

    padding:25px;

    margin-top:50px;

}
